OPENAI_API_KEY = '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'
PEXELS_API_KEY = 'OEfaxzv0Lkc2vrgCJlWuy9MuPBTf1xstKCvN4qglltOyKWUF1gg5LLtT'
REPLICATE_API_KEY='r8_en57x7ftoN4czyl3W5MInfYEMrhLuy63DhiCr'
SONAUTO_API_KEY='sksonauto_N_DkqoFPL3xJ9d2oY_w_4ifoyMrpOr21JbU6aYFH1TN39Trh'
REPLICATE_evelyn_API_KEY='r8_en57x7ftoN4czyl3W5MInfYEMrhLuy63DhiCr'
REPLICATE_Default_API_KEY='r8_0v59glzY050KYCWVHZg3kfyzHO9Svuu1xJkty'